@import "tailwindcss";

@theme {
  --font-display: "Poppins", "Inter", system-ui, sans-serif;
  --font-body: "Inter", system-ui, sans-serif;

  --color-bg: #dcdef3;
  --color-text: #633964;
  --color-accent: #5e4775;
  --color-accent-dark: #47365c;
  --color-card: #f2f1fb;
}

body {
  font-family: var(--font-body);
  background-color: var(--color-bg);
  color: var(--color-text);
}

h1, h2, h3, h4 {
  font-family: var(--font-display);
}
